<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <meta charset="UTF-8">
    <title>account</title>
</head>
<body>
<p>Hello, [[${user.login}]]</p>
    <h2>bills </h2>
<ul class="bill__items" th:each="bill : ${bills}">
        <li>
            <p th:text="${bill.getId()}"></p>
            <p th:text="${bill.getMoneyValue()}"></p>
            <ul  class="bill__items" th:each="transaction : ${bill.getAllTransactionsForBill()}">
                <li>
                   <p th:text="${transaction.getId()}"></p>
                   <p th:text="${transaction.getDate()}"></p>
                </li>
            </ul>
        </li>
    </ul>
<a href="/credit/request">get credit by contract</a>
</body>
</html>