<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <title>catalog</title>
</head>
<body>
user's catalogs are here
<table>
    <tr th:each="productCatalog: ${productCatalogs}">
        <td>id:
            <p th:text="${productCatalog.getId()}"></p>
            name:
            <p th:text="${productCatalog.getName()}"></p>
            product:
            <ul th:each="product: ${productCatalog.getProducts()}" style="decoration: none">
                <li style="decoration: none">
                    id:
                    <p th:text="${product.getId()}"></p>
                    name:
                    <p th:text="${product.getName()}"></p>
                </li>
            </ul>
        </td>
    </tr>
</table>
</body>
</html>