<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <meta charset="UTF-8">
    <title>create component</title>
</head>
<body>
<form name='create_post_form' th:action="@{/product/components/create/{id}(id = ${prId})}" th:value="productComponent" enctype="utf8" method="post">
    <p>products qunatity</p>
    <input type="text" th:field="${productComponent.value}" placeholder="value"/>
    <button type="submit" class="sign_in_btn ml-auto" style="width: 130px; margin: 20px">create</button>
</form>
</body>
</html>