<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <title>Credit request</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
          integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>

    <link rel="icon" href="/src/img/icon.png">

    <link href="/styles/credit.css" rel="stylesheet">

</head>
<body class="text-center">
<form class="form-signin" th:value="${user}" th:action="@{/credit/request}" method="post">
    <img class="mb-4" src="/src/img/logo3.jpg" alt="" height="100">
    <h1 class="h3 mb-3 font-weight-normal">Analyse your credit possibilities:</h1>

    <label for="inputDate" class="sr-only">Login</label>
    <input type="date" id="inputDate" class="form-control" placeholder="Date" required autofocus th:field="*{creditRequest.dueTo}">

    <label for="inputValue" class="sr-only">Password</label>
    <input type="text" id="inputValue" class="form-control" placeholder="The amount you want to take" required th:field="*{creditRequest.value}">

    <h2 class="h3 mb-3 font-weight-normal">Your buisness area is</h2>
    <p th:text="${area.name}"></p>

    <button class="btn btn-primary btn-lg btn-block">Analize</button>

    <p class="mt-5 mb-3 text-muted">Our experts will appreciate the opportunity to give you a loan and will contact you as soon as possible. Raiffeisen.</p>
    <p class="mt-5 mb-3 text-muted">&copy; 2019</p>
</form>
</body>
</html>