<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">

<head>
    <title>Raiffeisen</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
          integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>

    <link rel="icon" href="../static/src/img/icon.png">

    <link href="../static/styles/registration.css" rel="stylesheet">

</head>
<body class="text-center">
<form class="form-signup" th:userDto="${user}" th:action="@{/registration}"  method="post">
    <img class="mb-4" src="../static/src/img/logo3.jpg" alt="" height="100">
    <h1 class="h3 mb-3 font-weight-normal">Sign up form</h1>

    <label for="inputLogin" class="sr-only">Login</label>
    <input type="text" id="inputLogin" class="form-control" placeholder="Login" required autofocus
           th:field="*{user.login}">

    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required
           th:field="*{user.email}">

    <label for="inputAge" class="sr-only">Age</label>
    <input type="date" id="inputAge" class="form-control" placeholder="Age" required th:field="*{user.age}">

    <label for="inputTel" class="sr-only">Tel</label>
    <input type="tel" id="inputTel" class="form-control" placeholder="Phone number" required th:field="*{user.mobilePhone}">

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required th:field="*{user.password}">

    <button class="btn btn-primary btn-lg btn-block">Sign up</button>

    <p class="mt-5 mb-3 text-muted">&copy; 2019</p>

</form>
</body>
</html>